body{
	background: #E0F1FA;
	font-size: 14px;
	cursor: default;
}

a, a:hover{
	color: #333;
}

header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	color: #333;
	background: rgba(255,255,255,0.7);
	box-shadow: 1px 0px 2px #888888;
	z-index:1000;
}

header h3{
	margin: 10px 0px;
}

header .btn{
	margin-top: 15px;
	font-size:14px;
}

header .user-box{
	margin-top: 15px;
	padding: 7px 13px;
}

header .username-box, header .login-box{
	width: 50%;
	float: right;
	overflow: hidden;
	text-align: right;
	color: #333;
}

.modal-content{
	padding: 30px;
}

.create-new-question-modal input, .create-new-question-modal textarea, .create-new-answer textarea, .edit-answer-modal textarea, .edit-question-modal textarea, .edit-question-modal input{
	margin-bottom: 15px;
	resize: none;
}

.main-content{
	position: relative;
	top:65px;
}

.main-content a{
	color: #333;
	text-decoration: none;
	-webkit-transition: none;
	transition: none;
}

.question-item{
	margin: 15px 0px;
	padding: 20px;
	cursor: pointer;
	-webkit-transition: all 0.75s; /* For Safari 3.1 to 6.0 */
    transition: all 0.75s;
    border: 1px solid transparent;
}

.question-item:hover{
	border: 1px solid #ccc;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.15);
}

.question-item .question-info{
	margin: 5px 0px 10px 0px;
	color: #777;
	font-size: 12px;
}

.question-item .question-answer{
	margin-left: 3px;
}

.question-item .question-author{
	text-align: right
}


.question-detail, .answers, .create-new-answer{
	padding: 15px;
}
.answers .answer-item{
	padding: 10px 0px;
}
.question-detail .question-title, .answers .answer-title, .answers .answer-item{
	border-bottom: 1px solid #ccc;
}

.question-detail .question-vote, .answer-item .answer-vote{
	width: 60px;
	text-align: center;
	vertical-align: top;
}
.question-detail .question-vote span, .answer-item .answer-vote span{
	display: block;
	font-size: 20px;
}
.question-detail .question-vote .vote-btn, .answer-item .answer-vote .vote-btn, .question-item .question-edit, .question-item .question-delete, .question-detail .question-edit, .question-detail .question-delete, .answer-item .answer-edit, .answer-item .answer-delete{
	cursor:pointer;
}
.question-detail .question-content{
	margin: 20px 0px;
}
.question-detail .question-info, .answer-item .answer-info{
	margin-top: 20px;
	color: #777;
	font-size: 12px;
}
.question-detail .question-author, .answer-item .answer-author{
	text-align: right
}
.question-detail .question-utime, .answer-item .answer-utime{
	padding-left: 1em;
}
