body{
	background: #E0F1FA;
	font-size: 14px;
	cursor: default;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

a, a:hover{
	color: #333;
}

header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	color: #333;
	background: rgba(255,255,255,0.7);
	box-shadow: 1px 0px 2px #888888;
	z-index:1000;
}

header h3{
	margin: 10px 0px;
}

.hide{
	display:none;
}

header .btn{
	margin-top: 15px;
	font-size:14px;
}

header .user-box{
	margin-top: 15px;
	padding: 9px 13px;
	line-height: normal;
}

header .username-box, header .login-box{
	width: 50%;
	float: right;
	overflow: hidden;
	text-align: right;
	color: #333;
}

footer{
	position: relative;
	top: 100px;
	padding: 10px;
	font-size: 11px;
	text-align: center;
	background: #7F8C8D;
	z-index: 1000;
	coloe: #fff;
}

footer .gh-btn{
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-bottom-color: #bcbcbc;
	padding: 2px 5px 2px 4px;
	margin-left: 10px;
	color: #333;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 3px;
}

.modal-content{
	padding: 30px;
}

#create-new-question-modal input, #create-new-question-modal textarea, #create-new-answer textarea, #edit-answer-modal textarea, #edit-question-modal textarea, #edit-question-modal input{
	margin-bottom: 15px;
	resize: none;
}

.main-content{
	position: relative;
	top:65px;
}

.main-content a{
	color: #333;
	text-decoration: none;
	-webkit-transition: none;
	transition: none;
}

.question-item{
	margin: 15px 0px;
	padding: 20px;
	cursor: pointer;
	-webkit-transition: all 0.75s; /* For Safari 3.1 to 6.0 */
    transition: all 0.75s;
    border: 1px solid transparent;
}

.question-item:hover{
	border: 1px solid #ccc;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.15);
}

.question-item .question-info{
	margin: 5px 0px 10px 0px;
	color: #777;
	font-size: 12px;
}

.question-item .question-answer{
	margin-left: 3px;
}

.question-item .question-author{
	text-align: right
}


.question-detail, .answers, #create-new-answer{
	padding: 15px;
}
.question-detail .question-title, .answers .answer-title, .answers .answer-item{
	border-bottom: 1px solid #ccc;
}

.question-detail .question-vote, .answer-item .answer-vote{
	width: 60px;
	text-align: center;
	vertical-align: top;
}
.question-detail .question-vote span, .answer-item .answer-vote span{
	display: block;
	font-size: 20px;
}
.question-detail .question-vote .vote-btn, .answer-item .answer-vote .vote-btn, .question-item .question-edit, .question-item .question-delete, .question-detail .question-edit, .question-detail .question-delete, .answer-item .answer-edit, .answer-item .answer-delete{
	cursor:pointer;
}
.question-detail .question-content, .answer-item .answer-content{
	margin: 20px 0px;
	width: 100%;
}
.question-detail .question-info, .answer-item .answer-info{
	margin-top: 20px;
	color: #777;
	font-size: 12px;
}
.question-detail .question-author, .answer-item .answer-author{
	text-align: right
}
.question-detail .question-utime, .answer-item .answer-utime, .question-detail .question-ctime, .answer-item .answer-ctime{
	padding-left: 1em;
}
.bootstrap-tagsinput{
	background-color: transparent;
	padding: 15px 1px 1px 15px;
 	margin-bottom: 0px;
 	border: none;
}
.bootstrap-tagsinput .tag{
	background-color: #fff;
}
.bootstrap-tagsinput .tag:hover{
	background-color: #3498db;
}
.bootstrap-tagsinput .label-add{
	padding: 6px 15px;
}
.bootstrap-tagsinput .label-add:hover{
	padding: 6px 15px;
	background-color: #3498db;
}
