<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quora Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container">
          <div class="col-xs-8">
              <a href="/"><h3>Quora</h3></a>
          </div>
          {% if user %}
          <div class="col-xs-2">
              <button class="btn btn-block btn-sm btn-info" data-toggle="modal" data-target="#create-new-question-modal">
                <span class="fui-new"></span>
                Ask a Question
              </button>
          </div>
          <div class="col-xs-2">
            <div class="user-box">
              <a class="login-box" href="{{url}}">
                Logout
                <span class="fui-exit"></span>  
              </a>
              <div class="username-box">{{user}}</div>
            </div>
          </div>
          {% else %}
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
            <div class="user-box">
              <a class="login-box" href="{{url}}">
                <span class="fui-exit"></span> 
                Login
              </a>
            </div>
          </div>
          {% endif %}
      </div>
    </header>

    <div class="main-content container">
      <div class="question-detail" id="question-{{ question.qid }}">
        <div class="question-title">
          <h5>{{ question.title }}</h5>
        </div>
        <table class="question-content">
          <tr>
            <td class="question-vote">
              <span class="fui-triangle-up vote-btn question-vote-up-btn" data-content="{{ question.qid }}"></span>
              <span class="question-vote-count">{{ question.vote }}</span>
              <span class="fui-triangle-down vote-btn question-vote-down-btn" data-content="{{ question.qid }}"></span>
            </td>
            <td>
              <div class="question-text">
              {{ question.content }}
              </div>
              <div class="row question-info">
                  <div class="col-xs-8">
                    <span class="question-edit" data-toggle="modal" data-target="#edit-question-modal" data-content="{{ question.qid }}">Edit</span>
                    |
                    <span class="question-delete" data-content="{{ question.qid }}">Delete</span>
                  </div>
                  <div class="question-author col-xs-4"> - {{ question.author }} <span class="question-utime">{{ question.utime }}</span></div>
                </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="answers">
        <div class="answer-title">
          <p>{{ question.answerno }} answers</p>
        </div>
        {% for answer in question.answers %}
        <div class="answer-item" id="answer-{{ answer.aid }}">
          <table class="answer-content">
            <tr>
              <td class="answer-vote">
                <span class="fui-triangle-up vote-btn answer-vote-up-btn" data-content="{{ answer.aid }}"></span>
                <span class="question-vote-count">{{ answer.vote }}</span>
                <span class="fui-triangle-down vote-btn answer-vote-down-btn" data-content="{{ answer.aid }}"></span>
              </td>
              <td>
                <div class="answer-text">
                {{ answer.content }}
                </div>
                <div class="row answer-info">
                    <div class="col-xs-8">
                      <span class="answer-edit" data-toggle="modal" data-target="#edit-answer-modal" data-content="{{ answer.aid }}">Edit</span>
                      |
                      <span class="answer-delete" data-content="{{ answer.aid }}">Delete</span>
                    </div>
                    <div class="answer-author col-xs-4"> - {{ answer.author }} <span class="answer-utime">{{ answer.utime }}</span></div>
                  </div>
              </td>
            </tr>
          </table>
        </div>
        {% endfor %} 
      </div><!--answers-->
      <div id="create-new-answer">
        <div class="create-answer-title">
          <p>Your Answer</p>
        </div>
        <textarea class="form-control" placeholder="Write your thought on it!" name="content" rows="5"></textarea>
        <div class="row">
          <div class="col-xs-2">
            <button class="btn btn-block btn-sm btn-info" data-content="{{ question.qid }}">Submit</button>
          </div>
        </div>
      </div><!--create-answer-->
    </div><!-- /.container -->
    <div class="modal fade" id="create-new-question-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <h4>What's your question?</h4>
          <input type="text" placeholder="Title" class="form-control" />
          <textarea class="form-control" rows="5" placeholder="Write detail description about your question..."></textarea>
          <div class="row">
            <div class="attachments col-xs-10">
              <span class="fui-clip"></span>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-block btn-sm btn-info">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="edit-question-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <h4>Edit Question</h4>
          <input type="text" placeholder="Title" class="form-control" />
          <textarea class="form-control" rows="5" placeholder="Write detail description about your question..."></textarea>
          <div class="row">
            <div class="attachments col-xs-10">
              <span class="fui-clip"></span>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-block btn-sm btn-info">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="edit-answer-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <h4>Edit Answer</h4>
          <textarea class="form-control" rows="5" placeholder="Write your thought on it!"></textarea>
          <div class="row">
            <div class="attachments col-xs-10">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-block btn-sm btn-info">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <span>Yiran Mao - Copyright@2014</span>
        <a class="gh-btn" id="gh-btn" href="https://github.com/yeelan0319/ym731-ost-final-project" target="_blank"><span class="fui-github"></span> <span class="gh-text" id="gh-text">View on Github</span></a>
      </div>
    </footer>
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/detail.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/video.js"></script>
    <script src="/js/flat-ui.min.js"></script>

  </body>
</html>
{% endautoescape %}