<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hao Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    
    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container">
          <div class="col-xs-10">
             <h3><a href="/">Hao Question</a></h3>
          </div>
          {% if user %}
          <div class="col-xs-2">
            <div class="user-box">
              <a class="login-box" href="{{url}}">
                Logout
                <span class="fui-exit"></span>  
              </a>
              <div class="username-box">{{user}}</div>
            </div>
          </div>
          {% else %}
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
            <div class="user-box">
              <a class="login-box" href="{{url}}">
                <span class="fui-exit"></span> 
                Login
              </a>
            </div>
          </div>
          {% endif %}
      </div>
    </header>

    <div class="main-content container">
      {% if user %}
      <form role="form" method="post" action="/images" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="img" accept="image/*"> 
        </div>
        <div class="row">
          <div class="col-xs-2">
            <button type="submit" class="btn btn-block btn-sm btn-info">Upload</button>
          </div>
        </div>
      </form>
      {% endif %}
      <h4>Upload History</h4>
      {% if images.count() == 0 %}
      <p> No previously uploaded image</p>
      {% else %}
      <table class="table">
        <tr>
          <th class="col-xs-4">Image</th>
          <th class="col-xs-8">Url</th>
        </tr>
          {% for image in images %}
          <tr>
            <td class="col-xs-4"><img src="{{ baseUrl }}/images/{{ image.key.urlsafe() }}" class="img-responsive" alt="Responsive image"></td>
            <td class="col-xs-8" style="vertical-align: middle">{{ baseUrl }}/images/{{ image.key.urlsafe() }}</td>
          </tr>
          {% endfor %}
      </table>
      {% endif %}
    </div>
    <footer>
      <div class="container">
        <span>Yiran Mao - Copyright@2014</span>
        <a class="gh-btn" id="gh-btn" href="https://github.com/yeelan0319/ym731-ost-final-project" target="_blank"><span class="fui-github"></span> <span class="gh-text" id="gh-text">View on Github</span></a>
      </div>
    </footer>
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/flat-ui.min.js"></script>
  </body>
</html>
{% endautoescape %}