<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quora Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="container">
          <div class="col-xs-8">
             <h3><a href="/">Quora</a></h3>
          </div>
          {% if user %}
          <div class="col-xs-2">
              <button class="btn btn-block btn-sm btn-info" data-toggle="modal" data-target="#create-new-question-modal">
                <span class="fui-new"></span>
                Ask a Question
              </button>
          </div>
          <div class="col-xs-2">
            <div class="user-box">
              <a class="login-box" href="{{url}}">
                Logout
                <span class="fui-exit"></span>  
              </a>
              <div class="username-box">{{user}}</div>
            </div>
          </div>
          {% else %}
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
            <div class="user-box">
              <a class="login-box" href="{{url}}">
                <span class="fui-exit"></span> 
                Login
              </a>
            </div>
          </div>
          {% endif %}
      </div>
    </header>

    <div class="main-content container">
    {% for question in questions %}
      <a href="/detail?qid={{ question.qid }}">
        <div class="question-item">
          <div class="question-title">
            <h5>{{ question.title }}</h5>
          </div>
          <div class="question-content-preview">
            {{ question.contentpreview }}
          </div>
          <div class="row question-info">
            <div class="col-xs-8">
              <span class="fui-bubble"></span>
              <span class="question-answer">{{ question.answerno }} Answers</span>
            </div>
            <div class="question-author col-xs-4"> - {{ question.author }} <span class="question-utime">{{ question.utime }}</span></div>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
    <div class="modal fade" id="create-new-question-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <h4>What's your question?</h4>
          <input type="text" placeholder="Title" class="form-control" />
          <textarea class="form-control" rows="5" placeholder="Write detail description about your question..."></textarea>
          <div class="row">
            <div class="attachments col-xs-10">
              <span class="fui-clip"></span>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-block btn-sm btn-info">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <span>Yiran Mao - Copyright@2014</span>
        <a class="gh-btn" id="gh-btn" href="https://github.com/yeelan0319/ym731-ost-final-project" target="_blank"><span class="fui-github"></span> <span class="gh-text" id="gh-text">View on Github</span></a>
      </div>
    </footer>
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/video.js"></script>
    <script src="/js/flat-ui.min.js"></script>

  </body>
</html>
{% endautoescape %}